image: python:3.8.10


stages:
  - build
  - test #  only test is executed on Branches


pip_build:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never #  Do not run this job when a tag is created manually $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH == '0-CICD-project-setup' #  'master'
  before_script:
    - apt-get update -y && apt-get upgrade -y
    - python3 --version
    - python3 -m pip install --upgrade pip
  script:
    - python3 -m pip install .   


pytest:
  stage: test
  before_script:
    - echo 'before script started'
  script:
    - python -m pytest tests/ -vvv -s
      --durations=0
    - echo 'please consider writing tests for your code.'
