# generate me by (&manual cleaning): pip freeze > requirements_frozen.txt
transformers==4.57.3
hdbscan==0.8.40
qdrant-client==1.13.2
taxoniq==1.0.3
tqdm==4.67.1
requests==2.32.4
dash-bootstrap-components==1.7.1
sentencepiece==0.2.1
tiktoken==0.8.0
blobfile==3.0.0
pytest>=8.3.4
nbformat==5.10.4  # for jupyter notebook
ipywidgets==8.1.5
# Pinned sub-dependencies
matplotlib==3.9.4
seaborn==0.13.2
# pandas==1.5.3 if not desired from CuML: pin pandas to `pandas==1.5.3`  # docker: CuML and CuDF require older version pandas==1.5.3, else AttributeError: module 'pandas.api.types' has no attribute 'is_extension_type' 