# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

# todo: try miniconda 3 from here instead, think about versions and OSes https://github.com/conda-incubator/setup-miniconda#example-1-basic-usage

name: Python application

on:
  push:
    branches: ["5-pipeline-implementations"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
              
jobs:
  build:  # cached build is 2mins vs. 11mins
    runs-on: ubuntu-latest  # todo: change chaching path when modifying this (- name: Cache my dependencies)
    # runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3

    # # check if the .yaml is valid: a bit unnecessary because actions tell you anyways if its not valid
    # - name: Validate YAML file
    #   uses: karancode/yamllint-github-action@master
    #   with:
    #       yamllint_file_or_dir: '.github/workflows/python-app.yml'
    #       yamllint_strict: false
    #       yamllint_comment: true
    #       yamllint_config_datapath: '{extends: relaxed, rules: {line-length: {max: 120}}}'
    
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v3
      with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: my-env
          use-mamba: true
          # environment-file: environment.yml  # speed up by not installing all dependencies before if cache check exists

    - name: Cache mamba environment
      id: cache
      uses: actions/cache@v3
      with:
        path: /usr/share/miniconda3/envs/my-env  # Github Actions
        # path: /home/fmoorhof/actions-runner/_work/ec/ec/3/envs/my-env  # self-hosted
        key: ${{ runner.os }}-conda-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-conda-

    - name: Update environment
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cd /home/runner/work/ec/ec/  # else requirements.txt file not found
        mamba create -n my-env -f environment.yml
        python --version
        pip install .[test]
        pip list

  tests-shell:
    name: test shell
    runs-on: "ubuntu-latest"
    needs: build
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: my-env
          # environment-file: environment.yml
      - run: pip list
      - run: pip install pytest
      - run: python -m pytest tests/test_stack.py  # python -m needed to import correctly
      - run: python -m pytest tests/test_preprocessing.py    

  test:
    runs-on: ubuntu-latest
    # runs-on: self-hosted
    needs: build
    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v3
      with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: my-env
          use-mamba: true
          # environment-file: environment.yml  # use from cache anyways 

    - shell: bash -el {0}  # use activated shell, not dependent on conda init
      run: |
          pip list
          pip install pytest
          # pip install .[test]
          pip list
          python -m pytest tests/test_stack.py  # python -m needed to import correctly
          python -m pytest tests/test_preprocessing.py

  # style:
  #   # runs-on: ubuntu-latest
  #   runs-on: self-hosted
  #   needs: build
  #   steps:
  #   - uses: actions/checkout@v3


  #   - name: Lint with flake8
  #     shell: bash -l {0}
  #     run: |
  #       source ~/.profile  # mamba init bash would require shell restart
  #       source ~/.bashrc  # created by 'mamba init'
  #       mamba activate my-env

  #       # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
  #       # flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics        