# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: ["3-tests"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # # check if the .yaml is valid: a bit unnecessary because actions tell you anyways if its not valid
    # - name: Validate YAML file
    #   uses: karancode/yamllint-github-action@master
    #   with:
    #       yamllint_file_or_dir: '.github/workflows/python-app.yml'
    #       yamllint_strict: false
    #       yamllint_comment: true
    #       yamllint_config_datapath: '{extends: relaxed, rules: {line-length: {max: 120}}}'
    
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v2
      with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: my-env
          use-mamba: true

    - name: Cache my dependencies
      id: cache
      uses: actions/cache@v3
      with:
        path: /usr/share/miniconda3/envs/my-env
        key: ${{ runner.os }}-conda-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-conda-

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        mamba create -n my-env -c rapidsai -c conda-forge -c nvidia  \
          cudf=23.06 cuml=23.06 python=3.10 cudatoolkit=11.2 --override-channels  # install cudf and cuml
        mamba activate my-env
        pip install .[dev]  # install the pyproject.toml contents incl. my package 'ec'
        pip list
        python --version

# todo: No module named pytest: can not access dependencies
    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pwd
        mamba activate my-env
        # ./.venv/bin/activate
        which python
        pip list
        python -m pytest tests/  # python -m needed to import correctly
        pytest tests/  # test

    - name: Lint with flake8
    # shell: bash -l {0}
      run: |
        mamba activate my-env
        # ./.venv/bin/activate
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
