# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

# if OS out of memory comes again, continue with these steps: https://github.com/actions/runner-images/issues/709

name: Python application

on:
  push:
    branches: [ "main", "7-CI-fix" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Free up memory  # https://github.com/actions/runner-images/issues/709
      run: |
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
    - name: Install dependencies
      run: |
        if [ -f requirements.txt ]; then pip install --user --no-cache-dir -r requirements.txt --extra-index-url https://download.pytorch.org/whl/cu118; fi
        pip install --user --no-cache-dir --extra-index-url=https://pypi.nvidia.com cudf-cu11==24.2.* cuml-cu11==24.2.*
        pip install pytest pytest-cov        
        # todo: try next to install from pyproject.toml
    - name: Test with pytest
      run: |
        python --version
        python -m pytest --cov=src/ -v tests/test_stack.py
        python -m pytest --cov=src/ -v tests/test_*
