# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: ["3-tests"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    # runs-on: ubuntu-latest  # todo: change chaching path when modifying this
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3

    # # check if the .yaml is valid: a bit unnecessary because actions tell you anyways if its not valid
    # - name: Validate YAML file
    #   uses: karancode/yamllint-github-action@master
    #   with:
    #       yamllint_file_or_dir: '.github/workflows/python-app.yml'
    #       yamllint_strict: false
    #       yamllint_comment: true
    #       yamllint_config_datapath: '{extends: relaxed, rules: {line-length: {max: 120}}}'
    
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v2
      with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: my-env
          use-mamba: true

    - name: Cache my dependencies
      id: cache
      uses: actions/cache@v3
      with:
        # path: /usr/share/miniconda3/envs/my-env  # Github Actions
        path: /home/fmoorhof/actions-runner/_work/ec/ec/3/envs/my-env  # self-hosted
        key: ${{ runner.os }}-conda-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-conda-

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        # get CuDF and CuML
        mamba create -n my-env -c rapidsai -c conda-forge -c nvidia  \
          cudf=23.06 cuml=23.06 python=3.10 cudatoolkit=11.2 --override-channels
        mamba init
        source ~/.profile  # mamba init bash would require shell restart
        source ~/.bashrc  # created by 'mamba init'
        mamba activate my-env
        which mamba
        mamba env list
        python --version
        pip install .[dev]  # install the pyproject.toml contents incl. my package 'ec'


  test:
    # runs-on: ubuntu-latest
    runs-on: self-hosted
    needs: build
    steps:
    - uses: actions/checkout@v3

    - name: Test with pytest
      shell: bash -l {0}
      run: |
        source ~/.bashrc  # created by 'mamba init'
        source ~/.profile  # mamba init bash would require shell restart
        mamba activate my-env

        which python
        python --version
        pip list
        python -m pytest tests/test_stack.py  # python -m needed to import correctly
        # pytest tests/  # test


  style:
    # runs-on: ubuntu-latest
    runs-on: self-hosted
    needs: build
    steps:
    - uses: actions/checkout@v3


    - name: Lint with flake8
      shell: bash -l {0}
      run: |
        source ~/.profile  # mamba init bash would require shell restart
        source ~/.bashrc  # created by 'mamba init'
        mamba activate my-env

        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        # flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
