# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # # check if the .yaml is valid: a bit unnecessary because actions tell you anyways if its not valid
    # - name: Validate YAML file
    #   uses: karancode/yamllint-github-action@master
    #   with:
    #       yamllint_file_or_dir: '.github/workflows/python-app.yml'
    #       yamllint_strict: false
    #       yamllint_comment: true
    #       yamllint_config_datapath: '{extends: relaxed, rules: {line-length: {max: 120}}}'

    - name: Cache my dependencies
      id: cache-venv
      uses: actions/cache@v3
      with:
        path: ./.venv/
        key: ${{ runner.os }}-venv-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-venv-

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      if: steps.cache-venv.outputs.cache-hit != 'true'
      run: |
        python -m venv ./.venv && ./.venv/bin/activate
        pip install --upgrade pip
        # install requirements declared in pyproject.toml
        if [ -f requirements.txt ]; then pip install -r requirements.txt; else pip install .[dev]; fi
        pip list

    - name: Test with pytest
      run: |
        pwd
        ./.venv/bin/activate
        which python
        pip list
        python -m pytest tests/  # python -m needed to import correctly

    - name: Lint with flake8
      run: |
        ./.venv/bin/activate
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
