# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

# todo: try miniconda 3 from here instead, think about versions and OSes https://github.com/conda-incubator/setup-miniconda#example-1-basic-usage

name: Python application

on:
  push:
    branches: ["4-objectification"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:  # cached build is 2mins vs. 11mins
    runs-on: ubuntu-latest  # todo: change chaching path when modifying this (- name: Cache my dependencies)
    # runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3

    # # check if the .yaml is valid: a bit unnecessary because actions tell you anyways if its not valid
    # - name: Validate YAML file
    #   uses: karancode/yamllint-github-action@master
    #   with:
    #       yamllint_file_or_dir: '.github/workflows/python-app.yml'
    #       yamllint_strict: false
    #       yamllint_comment: true
    #       yamllint_config_datapath: '{extends: relaxed, rules: {line-length: {max: 120}}}'
    
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v2
      with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: base
          use-mamba: true

    - name: Cache my dependencies
      id: cache
      uses: actions/cache@v3
      with:
        path: /usr/share/miniconda3/envs/base  # Github Actions
        # path: /home/fmoorhof/actions-runner/_work/ec/ec/3/envs/base  # self-hosted
        key: ${{ runner.os }}-conda-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-conda-

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        # get CuDF and CuML
        mamba create -n base -c rapidsai -c conda-forge -c nvidia  \
          cudf=23.12 cuml=23.12 python=3.10 cuda-version=11.2 \
          pytorch  # cugraph=23.12 dash  # this may take some time
        mamba init
        ls /usr/share/*
        cat /usr/share/miniconda3/etc/profile.d/conda.sh
        echo "source /usr/share/miniconda3/etc/profile.d/conda.sh" >> $GITHUB_ENV
        echo "conda activate base" >> $GITHUB_ENV
        which mamba
        mamba env list
        python --version
        pip list
        # pip install .[dev]  # install the pyproject.toml contents incl. my package 'ec'
        pip install .[test]  # install the pyproject.toml contents incl. my package 'ec'


  test:
    runs-on: ubuntu-latest
    # runs-on: self-hosted
    needs: build
    steps:
    - uses: actions/checkout@v3

    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v2
      with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: base
          use-mamba: true

    - name: Pytest
        # shell: bash -l {0}
      run: |
          mamba init
          mamba activate base
          python --version
          which python
          pip list
          python -m pytest tests/test_stack.py  # python -m needed to import correctly
          pytest tests/test_embed.py


  test2:
    runs-on: ubuntu-latest
    # runs-on: self-hosted
    needs: build
    steps:
    - uses: actions/checkout@v3

    - name: Setup Mambaforge2
      run: |
          echo "source /usr/share/miniconda3/etc/profile.d/conda.sh" >> $GITHUB_ENV
          echo "conda activate base" >> $GITHUB_ENV

    - name: Test with pytest
      shell: bash -l {0}
      run: |
        echo "source /usr/share/miniconda3/etc/profile.d/conda.sh" >> $GITHUB_ENV
        echo "conda activate base" >> $GITHUB_ENV

        # source ~/.bashrc  # created by 'mamba init'
        # source ~/.profile  # mamba init bash would require shell restart
        pip list
        mamba activate base

        which python
        python --version
        pip list
        python -m pytest tests/test_stack.py  # python -m needed to import correctly
        pytest tests/test_embed.py